.section-bottom {
  background: linear-gradient(85deg, #264266, #0F4EB3) !important;
  text-align: center;
  padding: 15px 0;

}
.leftAlignAddress {
  font-size: 1rem !important;
  font-weight: 600;
  color: #333;
  line-height: 1.5;
  text-align: left !important;
  margin: 0 !important;
}
.footer-content {
  font-size: 15px;
  padding: 0px 15px 0.5% 15px;
  word-wrap: break-word;

}
.hrefTag {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#mfInfoImg {
  max-width: 100%;
  padding: 0px !important;
  height: 62px;
  width: 157px;
}
.footerWrap {
  padding-bottom: 30px;
}
.mainFooterWrap {
  padding: 40px 30px;
}
.footerPadding {
  padding: 0px 15px;
}
.FooterHousingLogo {
  display: flex;
  justify-content: flex-end;
}
.FooterHousingLogo img {
  width: 69px;
  height: 100%;
}
.bottomSectionWrap {
  align-items: center;
}
.normalFooterFont {
  font-size: 1rem !important;
  color: #333 !important;
}
.FooterLogo {
  padding: 0px 15px;
}
.privacyStatementMobile{
 display: none;
}
.feefoBadgeWrap img {
  width: 314px;
  height: 100px;
}
@media only screen and (max-width: 799px) {
  .privacyStatementWeb{
    display: none;
  }
  .privacyStatementMobile{
    display: block;
   }
}
@media all and (max-width: 960px) {
  .feefoBadgeWrap {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
  }
  .FooterLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px !important;
    padding-bottom: 15px !important;
  }
  .footerTextInfo {
    padding-top: 20px;
    display: inline-block !important;
  }
  .FooterHousingLogo {
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  .footerWrap,.footerPadding {
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 360px) {
  .feefoBadgeWrap img {
    width: 100% !important;
  }
}
.mainDivNormalFooter {
  background: #d7e6ed
}
.mivNormalFooter {
  width: 100%
}
.spanLeftAlignAddress {
  margin: 0;
  cursor: pointer;
  overflow-wrap: break-word
}