
.section-top{
    background:#d7e6ed;
    display: flex; 
    justify-content: center; 
    padding: 20px 0;
    }
    .section-bottom{
        background: linear-gradient(
            85deg
            , #264266, #0F4EB3) !important;
         text-align: center;
         padding: 15px 0;
         
       }

       .leftalign{
        font-size: 14px;
       }
 
       .col{ 
        margin: 0 15px;
        width: 25%;
        word-wrap: break-word;
      }
      .footer-content{
        font-size: 14px;
       padding-bottom: 14px;
       word-wrap: break-word;
       font-family: "system-ui";
   
      }
   .hreftag{
    text-decoration: none;
    color: black;

   }
   @media all and (max-width: 600px){ 
   .section-top{
       flex-direction: column;
   }    
   .col{ 
     text-align: center;
     width: 100%;
     margin: 0
   }
 }

 @media all and (max-width: 1300px){ 
  #badge{
    height: 80px!important
  }  
}
@media all and (max-width: 1100px){ 
  #badge{
    height: 70px!important
  }  
}

@media all and (max-width: 850px){ 
  #badge{
    height: 60px!important
  }  
}

@media all and (max-width: 650px){ 
  #badge{
    height: 50px!important
  }  
}
