#main-content-background {
	min-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.MuiInput-underline:before {
	border-bottom: 2px solid #0f4eb3;
}

.cardWOPadding {
	text-align: center;
}

.cardWrapper {
	margin-top: 5%;
	margin-bottom: 2%;
}

#dateWrap {
	align-self: flex-end
}

#dateWrap label {
	font-size: 16px !important;
}

.confirmPasswordGrid {
	width: 100% !important;
	padding-bottom: 20px;
}

.passwordGrid {
	width: 100% !important;
}

@media (max-width: 599px) {
	#socialNum {
		margin-top: 0px !important;
	}

	#ZipcodeWrap {
		margin-top: 0px !important;
	}
}

@media (max-width: 400px) {

	#email-label,
	#password-label,
	#c-pass-label,
	#firstname-label,
	#lastname-label,
	#zip-label {
		font-size: 4vw;
	}
}

@media (max-width: 400px) {

	#dob-title,
	#password-title {
		font-size: 3vw;
	}
}

label+.MuiInput-formControl {
	background: transparent;
}

.showError {
	display: block;
	color: red;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}

.hideError {
	display: none;
}

.Mui-focused {
	background-color: transparent !important;
	color: white;
}

.add-pad {
	margin-left: -1px !important;
	padding-top: 20px !important;
	font-size: 14px !important;
}

#registerMainContent {
	min-height: 80vh !important;
}

#socialNum div div label {
	font-size: 0.968rem !important;
}

#socialNum div div div input {
	padding-bottom: 15px !important;
}

#firstname,
#lastname,
#email,
#cpass {
	padding-bottom: 15px !important;
}

#firstname-label,
#lastname-label,
#email-label,
#cpass-label {
	font-size: 0.938rem !important;
	padding-bottom: 10px !important;
}