.mainDiv{
    background-color: #124CA8;
    background-image: linear-gradient(to right, #26436A , #104DB0);
    min-height: 500px !important;
}
.card{
    padding: 5%;
    padding-bottom: 1%;
}
.cardWrapper{
    margin-top: 5%;
    margin-bottom: 2%;
}
.borrowCSS{
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}
.setSlider{
    margin-bottom: 0% !important;
}

.alignSlider{
    margin-bottom: 7% !important;
    text-align: center;
}
.setGreenColor{
    color: green ;
}
.alignButton{
    margin-top: 5%;
    margin-bottom: 4%;
}

.alignButtonExtra{
    margin-top: 6% !important;
    margin-bottom: 5% !important;
}

.smallText{
    font-size: .8rem;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

.alignSmallText{
    margin-bottom: 3%;
}
.alignText{
    color: #595959;
    font-size: 0.9rem;
    margin-top: 2%;
}

.alignTextInsideCard{
    padding-top: 2%;
}

.mainDiv{
    background-color: #124CA8;
    background-image: linear-gradient(to right, #26436A , #104DB0);
    min-height: 500px !important;
}
.cardWOPadding{
    padding-bottom: 1%;
    text-align: center;
}
.cardWrapper{
    margin-top: 5%;
    margin-bottom: 2%;
}

.setSlider{
    margin-bottom: 0% !important;
}

.alignSlider{
    margin-bottom: 7% !important;
    text-align: center;
}
.setGreenColor{
    color: green ;
}
.alignButton{
    margin-top: 5%;
    margin-bottom: 4%;
}

.smallText{
    font-size: .8rem;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

.alignSmallText{
    margin-bottom: 3%;
}
.alignText{
    color: #595959;
    font-size: 0.9rem;
    margin-top: 2%;
}

.alignTextInsideCard{
    padding-top: 2%;
}

.open{
    height: 50px;
    transition: 0.5s;
}

.close{
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
    
}

.yellowText{
    color: #ffbc23 !important;
    margin-left: 10px;
    font-size: x-large;
    text-align: left;
}

.radioBlock{
    width: 100px;
    border: 1px solid #0F4EB3;
    cursor: pointer;
    display: block;
    min-width: 100% !important;
    background: #fff;
    font-family: sans-serif;
    line-height: 2;
    text-transform: capitalize;
    text-align: center;
    margin: 10px 0px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.activeBorder{
    background: #134ca5 !important;
    box-shadow: 1px 0px 2px #144ba1;
    color:white !important;
}

.alignButton{
    margin: 20px 0px !important;
    height: 40px;
}

.showMsg{
    color: red;
    display: block;
    margin: 0;
    color: #f44336 !important;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
.hideMsg{
    display: none;
}

.showError{
    display: block;
    color: red;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hideError{
    display: none;

}

.slantDiv{
    transform: skewX(-20deg);
    margin-left: -3px;
}

.progress .determinate {
    background-color: #ffbc25;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
}

.progress {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 4px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    background-color: white;
    height: 20px;
    text-align: left !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.det3{
    width:25%;
}

.detNum3{
    padding-left:67%;
    font-weight: 600;
    color: #134ca8;
}

.det67{
    width:67%;
}

.detNum67{
    padding-left:67%;
    font-weight: 600;
    color: #134ca8;
}

.det25{
    width:25%;
}

.detNum25{
    padding-left:25%;
    font-weight: 600;
    color: #134ca8;
}

.det75{
    width:75%;
}

.detNum75{
    padding-left:75%;
    font-weight: 600;
    color: #134ca8;
}
.det83{
    width:83%;
}

.detNum83{
    padding-left:83%;
    font-weight: 600;
    color: #134ca8;
}

.det92{
    width:92%;
}

.detNum92{
    padding-left:92%;
    font-weight: 600;
    color: #134ca8;
}

.det100{
    width:100%;
}
.Mui-disabled{
    opacity: 0.7;
}

/*Animation*/
.spinAnimation {
    animation-name: rotation;
    animation-duration: 3s;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
  }

  .padding-left-1{
      padding-left: 5%;
  }
  .padding-right-1{
    padding-right: 5%;
}

.MuiInput-underline:before{
    border-bottom: 2px solid #0F4EB3 !important;
}

.MuiInputLabel-formControl{
    font-size: 1rem;

    cursor: text;
    text-align: initial;
    color: #9e9e9e;
}

@media (max-width:450px){
    .borrowCSS{
        font-size: 4vw;
  
    }
}

.MuiFormControl-root {
    margin: 0px !important;
}

.left-align{
    text-align: left !important;
    font-family: 'Muli', sans-serif !important;
    font-weight: normal;
    line-height: 1.5;
    color: #6b6f82;
}

.agreeText{
    text-align: justify;
    font-size: 1rem;
    line-height: 25px;
    position: relative;
    display: inline-block;
    height: 25px;
    padding-left: 35px;
    cursor: pointer;
    color: #595959;
    font-family: 'Muli', sans-serif;

}

.subText{
    text-align: justify;
    color: #595959;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}

.smallTextLeft{
    text-align: left;
    font-size: .8rem;
    color: #595959;
    margin-top: 10px !important;
}
.textWhite{
    color: white;
}
.bottomSpace{
    margin-bottom: 5% !important;
}

.paddingButton{
    padding: 10px;
}
.minText{   
    text-align: justify;
    font-size: medium !important;
    font-weight: 400 !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.listFormat{
    text-align: left;
    font-size: medium !important;
    font-weight: 400 !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.buttonWithMargin{
    margin-top: 7%;
    margin-bottom: 7%;
}

.Mui-focused{
    background-color: white;
    color: white;
}

.MuiSelect-selectMenu:focus {
    background-color: white !important;
}

.MuiSelect-selectMenu {
text-align: left;
}
.justifyText{
    text-align: justify !important;
}

.space{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.formatURL{
    color: blue;
    text-align: justify;
    text-decoration: none;
}

.textBlockShort{
    margin: 15px 0px !important;
}

.MuiInput-input.Mui-disabled {
    color: black !important;
}

.MuiInputLabel-formControl.Mui-disabled{
    color: black !important;
}

.MarginUpDown10{
    margin: 10px 0px;
}
.cursorPointer{
    cursor: pointer;
}

.modalAction{
    text-align: right;
}

.modalButton{
    width: 10% !important;
    border-radius: 10%;
}

.linkText{
    color:blue;
    font-weight: 500;
}

.tableHeader{
    background-color: #154BA1;
    color: #FFBC25 !important;
    font-weight: 700 !important;
}

.MuiTableCell-root{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.modalText{
    margin-bottom: 7px !important;
    margin-top: 7px !important;
}