header {
  box-shadow: 0 0;
  background: transparent !important;
}

#close1 {
  display: none;
}

#moneySkillNavLink {
  cursor: pointer;
}
.titleSidenav {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
#moneySkillNavLink:hover {
  background-color: #00000009;
  width: 90%;
}

a.nav_link:link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.nav_link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

a.nav_link:hover .MuiListItem-root {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54) !important;
  background-color: rgba(0, 0, 0, 0.035) !important;
  width: 95%;
  border-radius: 0 5px 5px 0;
}

.active .MuiListItem-root {
  background: linear-gradient(85deg, #264266, #0f4eb3) !important;
  color: #ffffff !important;
  width: 95%;
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 3px 10px 0 rgb(123 31 162 / 50%);
}
.active .MuiSvgIcon-root {
  color: #ffffff;
}
#close2 {
  display: block;
}

#sidemenuLastLogin {
  font-family: "Muli", sans-serif !important;
  font-weight: 400;
  color: #171717;
  font-size: 0.938rem !important;
  padding: 0;
  justify-content: center;
}
#sidemenuBranch {
  padding: 5px 0px 0px 0px;
  font-size: 0.875rem;
  justify-content: center;
}
#sidemenuName {
  font-family: "Muli", sans-serif !important;
  font-weight: 700;
  color: #171717;
  font-size: 1.2rem !important;
  padding: 0;
  justify-content: center;
}

#listItemWrap .nav_link li .MuiListItemText-root span {
  font-size: 0.844rem !important;
}

#applyForLoanNav li .MuiListItemText-root span {
  font-size: 0.875rem !important;
}

#moneySkillNavLink .titleSidenav span {
  font-size: 0.844rem !important;
}

#sidemenuOpenNow {
  font-family: "Muli", sans-serif !important;
  font-weight: 400;
  font-size: 0.938rem;
  list-style-type: none;
  padding: 0px;
  justify-content: center;
  color: green !important;
}

#sidemenuCloseNow {
  font-family: "Muli", sans-serif !important;
  font-weight: 400;
  font-size: 0.938rem;
  list-style-type: none;
  color: red !important;
  padding: 0px;
  justify-content: center;
}

#sidemenuPhone {
  font-family: "Muli", sans-serif !important;
  font-weight: 400;
  list-style-type: none;
  color: #0f4eb3 !important;
  box-sizing: inherit;
  font-size: 0.875rem;
  justify-content: center;
  padding: 0px;
}

#imgWrap {
  max-width: 120px !important;
  margin: auto;
  padding: 0;
  overflow: hidden;
  max-height: 120px !important;
  border-radius: 50%;
}

#sidebarProfilePic {
  width: 100%;
  cursor: pointer;
}

#sidemenuRadio {
  color: #333;
  font-size: 15px;
}

.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
  overflow-x: hidden;
}

@media (max-width: 960px) {
  #close1 {
    display: block;
  }
  #sidemenuRadio {
    display: none !important;
  }
  #close2 {
    display: none;
  }
  #close {
    display: none !important;
  }
  .makeStyles-menuButton-4 {
    margin-right: 0 !important;

    vertical-align: bottom !important;
  }
}

@media (max-width: 480px) {
  #toolbar {
    display: block !important;
  }

  #toolBarList {
    font-size: 3vw !important;
  }
}

@media (max-width: 355px) {
  #toolbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#notification-menu ul li {
  white-space: unset !important;
}

#notification-menu:nth-child(3) {
  top: 55px !important;
  padding: 14px 24px;
}

#settingsMenu:nth-child(3) {
  top: 55px !important;
  padding: 14px 24px;
}
#settingsMenu:nth-child(3) ul {
  /* top: 55px !important; */
  padding: 0 !important;
  width: 200px !important;
}

#settingsMenuList {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #757575 !important;
  font-family: "Muli", sans-serif !important;
}

#settingsMenuListLogout {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #757575 !important;
  border-top: #e0e0e0 1px solid;
  font-family: "Muli", sans-serif !important;
}

.nav_linkSettingMenu {
  text-decoration: none;
  font-size: 16px;
  color: #757575 !important;
  font-family: "Muli", sans-serif !important;
}

.hrefPhoneNo {
  text-decoration: none;
  color: #0f4eb3 !important;
  cursor: pointer;
}

#profileDetails ul li:nth-child(1):hover {
  border-radius: 0 5px 5px 0;
  background-color: rgba(0, 0, 0, 0.035) !important;
}
#profileDetails ul li:nth-child(1) {
  display: flex;
  justify-content: center;
}
.titleSidenav .MuiListItemIcon-root {
  align-items: center !important;
  min-width: 45px !important;
}
.titleSidenav .MuiListItemIcon-root svg {
  align-items: center !important;
  padding-left: 8px;
  width: 23px;
}
#moneySkillNavLink .MuiListItemIcon-root {
  align-items: center !important;
  min-width: 45px !important;
}

.nav_link_disabled {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

#moneySkillNavLink .MuiListItemIcon-root svg {
  align-items: center !important;
  padding-left: 8px;
  width: 23px;
}
.titleSidenav span {
  overflow: hidden !important;
}
.titleSidenav .MuiListItemText-root span {
  overflow: hidden !important;
  font-size: 0.844rem !important;
}
#profileDetails ul {
  width: 100% !important;
}
#listItemWrap .active li .MuiListItemText-root span {
  color: white !important;
}
