#headerWrap {
  position: sticky !important;
  width: 100%;
  top: 0;
  z-index: 1000;
}
#MainHeaderWrapping {
  background-color: white !important;
  box-shadow: 0px 3px 9px -6px #000000 !important;
  height: 82px;
  justify-content: center;
  top: 0;
  z-index: 9;
}
#close1 {
  display: none;
  background-color: #ffbc23;
  padding: 10px !important;
  height: 44px;
}
#moneySkillNavLink {
  cursor: pointer;
}
.titleSidenav,a.nav_link:link,.nav_link{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
#moneySkillNavLink:hover,#blogLinkWrap:hover .titleSidenav,#faqLinkWrap:hover .titleSidenav{
  background-color: #00000009;
  width: 95%;
  border-radius: 0 5px 5px 0;
}
a.nav_link:hover .MuiListItem-root {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54) !important;
  background-color: rgba(0, 0, 0, 0.035) !important;
  width: 95%;
  border-radius: 0 5px 5px 0;
}
.active .MuiListItem-root {
  background: linear-gradient(85deg, #264266, #0f4eb3) !important;
  color: #ffffff !important;
  width: 95%;
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 3px 10px 0 rgb(123 31 162 / 50%);
}
.active .MuiSvgIcon-root {
  color: #ffffff;
}
#close2 {
  display: block;
}
#sidemenuLastLogin {
  font-family: "Muli", sans-serif !important;
  font-weight: 400;
  color: #171717;
  font-size: 0.938rem !important;
  padding: 0;
  justify-content: center;
}
#sidemenuBranch {
  padding: 5px 0px 0px 0px;
  font-size: 0.875rem;
  justify-content: center;
}
#sidemenuName {
  font-family: "Muli", sans-serif !important;
  font-weight: 700;
  color: #171717;
  font-size: 1.2rem !important;
  padding: 0;
  justify-content: center;
  white-space: break-spaces;
  text-align: center;
}
#listItemWrap .nav_link li .MuiListItemText-root span {
  font-size: 0.844rem !important;
}
#applyForLoanNav li .MuiListItemText-root span {
  font-size: 0.875rem !important;
}
#moneySkillNavLink .titleSidenav span {
  font-size: 0.844rem !important;
}
#sidemenuOpenNow {
  font-family: "Muli", sans-serif !important;
  font-weight: 400;
  font-size: 0.938rem;
  list-style-type: none;
  padding: 0px;
  justify-content: center;
  color: green !important;
}
#sidemenuCloseNow {
  font-family: "Muli", sans-serif !important;
  font-weight: 400;
  font-size: 0.938rem;
  list-style-type: none;
  color: red !important;
  padding: 0px;
  justify-content: center;
}
#sidemenuPhone {
  font-family: "Muli", sans-serif !important;
  font-weight: 400;
  list-style-type: none;
  color: #0f4eb3 !important;
  box-sizing: inherit;
  font-size: 0.875rem;
  justify-content: center;
  padding: 0px;
}
#imgWrap {
  max-width: 120px !important;
  margin: auto;
  padding: 0;
  overflow: hidden;
  max-height: 120px !important;
  border-radius: 50%;
}
#sidebarProfilePic {
  width: 100%;
  cursor: pointer;
}
#sidemenuRadio {
  color: #333;
  font-size: 15px;
}
.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
  overflow-x: hidden;
}
#tool-bar-list {
  display: flex !important;
  align-items: center;
  height: 100%;
}
#quickNameIcon {
  height: 64px;
  margin-right: 10px;
}
#settingsMenu .MuiPopover-paper {
  top: 118px !important;
}
#notification-menu li{
  font-family: 'Muli', sans-serif !important;
  padding: 20px;
  white-space: unset !important;
  max-width: 335px;
}
.iconWrap{
  background-color: #0F4EB3 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 3px;
  margin-right: 10px;
}
#spanNotificationMenu{
  color: white;
  font-size: 17px;
}
@media (max-width: 960px) {
  #close1 {
    display: block;
  }
  #sidemenuRadio {
    display: none !important;
  }
  #close {
    display: none !important;
  }
  .makeStyles-menuButton-4 {
    margin-right: 0 !important;

    vertical-align: bottom !important;
  }
}
#toolbar {
  padding: 0px 25px !important;
  height: 100%;
}
@media only screen and (max-width: 599px) {
  #quickNameIcon {
    position: fixed;
    bottom: 45%;
    right: 0%;
    z-index: 10;
    margin-right: 0px;
  }
  #quickNameIcon img {
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 75%);
  }
}
@media only screen and (max-width: 480px) {
  #MainHeaderWrapping {
    height: unset !important;
  }
  #toolbar {
    display: flex !important;
    padding: 0px 15px !important;
  }
  div#tool-bar-list p {
    font-size: 0.938rem !important;
  }
  #blogsLink a {
    margin-right: 20px;
    padding-top: 3px;
    box-sizing: border-box;
  }
  .faqLink p {
    padding-top: 3px;
    box-sizing: border-box;
    margin-right: 20px;
  }
  .branchLocatorLink p {
    padding-top: 3px;
    box-sizing: border-box;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 360px) {
  #toolbar {
    padding: 0px 10px !important;
    align-items: center;
  }
  #blogsLink a {
    height: 60px;
    margin: 0 !important;
  }
  .faqLink p {
    height: 60px;
    margin: 0 !important;
  }
  .branchLocatorLink p {
    height: 60px;
    margin: 0 !important;
  }
  .MuiIconButton-edgeEnd {
    margin: 0 !important;
  }
  #tool-bar-list {
    width: 100%;
    justify-content: flex-end;
  }
  .noPaddingIcon {
    padding: 10px 0px !important;
  }
}
#settingsMenu:nth-child(3) {
  top: 55px !important;
  padding: 14px 24px;
}
#settingsMenu:nth-child(3) ul {
  padding: 0 !important;
  width: 200px !important;
}
#settingsMenuList {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #757575 !important;
  font-family: "Muli", sans-serif !important;
}
#settingsMenuListLogout {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #757575 !important;
  border-top: #e0e0e0 1px solid;
  font-family: "Muli", sans-serif !important;
}
.nav_linkSettingMenu {
  text-decoration: none;
  font-size: 16px;
  color: #757575 !important;
  font-family: "Muli", sans-serif !important;
}
.hrefPhoneNo {
  text-decoration: none;
  color: #0f4eb3 !important;
  cursor: pointer;
}
#profileDetails ul li:nth-child(1):hover {
  border-radius: 0 5px 5px 0;
  background-color: rgba(0, 0, 0, 0.035) !important;
}
#profileDetails ul li:nth-child(1) {
  display: flex;
  justify-content: center;
}
.titleSidenav .MuiListItemIcon-root,#moneySkillNavLink .MuiListItemIcon-root {
  align-items: center !important;
  min-width: 45px !important;
}
.titleSidenav .MuiListItemIcon-root svg {
  align-items: center !important;
  padding-left: 8px;
  width: 23px;
}
.nav_link_disabled {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
#moneySkillNavLink .MuiListItemIcon-root svg {
  align-items: center !important;
  padding-left: 8px;
  width: 23px;
}
.titleSidenav span {
  overflow: hidden !important;
}
.titleSidenav .MuiListItemText-root span {
  overflow: hidden !important;
  font-size: 0.844rem !important;
}
#profileDetails ul {
  width: 100% !important;
}
#listItemWrap .active li .MuiListItemText-root span {
  color: white !important;
}
#logoImage {
  height: 60px
}