.mainDiv {
	background-color: #124ca8;
	background-image: linear-gradient(to right, #26436a, #104db0);
	min-height: 500px !important;
}
.cardWOPadding {
	padding-bottom: 1%;
	text-align: center;
}
.cardWrapper {
	margin-top: 5%;
	margin-bottom: 2%;
}
.borrowCSS {
	margin-top: 4% !important;
	margin-bottom: 4% !important;
}
.setSlider {
	margin-bottom: 0 !important;
}

.alignSlider {
	margin-bottom: 7% !important;
	text-align: center;
}
.setGreenColor {
	color: green;
}

.smallText {
	font-size: 0.8rem;
	color: #fff;
	font-family: "Muli", sans-serif;
	font-weight: 300;
}

.alignSmallText {
	margin-bottom: 3%;
}
.alignText {
	color: #595959;
	font-size: 0.9rem;
	margin-top: 2%;
}

.alignTextInsideCard {
	padding-top: 2%;
}

.open {
	height: 50px;
	transition: 0.5s;
}

.close {
	height: 0;
	transition: 0.5s;
	overflow: hidden;
}

.yellowText {
	color: #ffbc23 !important;
	margin-left: 10px;
	font-size: x-large;
	text-align: left;
}

.radioBlocked {
	width: 100px;
	border: 1px solid #0f4eb3;
	cursor: pointer;
	display: block;
	min-width: 100% !important;
	background: #fff;
	font-family: "Muli", sans-serif !important;
	line-height: 2;
	text-align: center;
	margin: 5px 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.activeBorder {
	background: #134ca5 !important;
	box-shadow: 1px 0 2px #144ba1;
	color: white !important;
}

.alignButton {
	margin: 20px 0 !important;
	height: 40px;
}

.showMsg {
	display: block;
	margin: 0;
	color: #f44336 !important;
	font-family: "Muli", sans-serif;
	font-weight: 400;
}
.hideMsg {
	display: none !important;
}

/*Animation*/
.spinAnimation {
	animation-name: rotation;
	animation-duration: 3s;
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

.slantDiv {
	transform: skewX(-20deg);
	margin-left: -3px;
}

.progress .determinate {
	background-color: #ffbc25;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: width 0.3s linear;
	transition: width 0.3s linear;
}

.progress {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;

	margin: 0.5rem 0 1rem 0;
	border-radius: 2px;
	background-color: white;
	height: 20px;
	text-align: left !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.det42 {
	width: 42%;
}

.detNum42 {
	padding-left: 42%;
	font-weight: 600;
	color: #134ca8;
}

.floatLeft {
	text-align: left;
}

.padTop {
	margin-top: 10px !important;
}

.borrowCSSLP {
	font-size: 1.563rem !important;
	font-weight: 400 !important;
	line-height: 110% !important;
	margin: 0.82rem 0 0.656rem 0 !important;
}

#employementWrap div label {
	font-size: 0.968rem !important;
}

#employementWrap div div div {
	padding-bottom: 15px !important;
}

#employerPhoneWrap div div label {
	font-size: 0.968rem !important;
}

#employerPhoneWrap div div div input {
	padding-bottom: 15px !important;
}

#employmentStatusWrap {
	border-radius: 4px !important;
}

#employmentStatusWrap form {
	border-radius: 4px !important;
}

#employmentStatusWrap form div:nth-child(1) {
	border-radius: 4px 4px 0px 0px;
}
