#uploadBtn{
    padding: 0px 30px !important;
    font-size: 0.938rem;
    font-family: 'Muli', sans-serif !important;
}
#pageHeading{
   margin: 0 !important;
   line-height: 0 !important;
}

#selectDoccumentWrap .subOption{
    color: #171717;
}

.textdecoration{
    text-decoration: none;
}