#uploadBtn {
    padding: 0px 30px !important;
    font-size: 0.938rem;
    font-family: 'Muli', sans-serif !important;
}

#pageHeading {
    margin: 0 !important;
    line-height: 0 !important;
}

#selectDoccumentWrap .subOption {
    color: #171717 !important;
    display: block;
    padding: 0px 0px 7px 0px !important;
}

.textdecoration {
    text-decoration: none;
}

.gridPadding {
    padding-top: 10px;
}

.loanDocumentWrap {
    padding-top: 10px;
    padding-bottom: 30%;
}

.selectDocument {
    padding-top: 25px;
}
.showDiv{
    display: flex;
	margin: 0;
	color: #171717 !important;
	font-family: "Muli", sans-serif;
	font-weight: 400;
    align-items: center;
}
.hideDiv{
	display: none !important;
}
.showRadio{
    display: block;
	margin: 18px 0 0 0;
	color: #171717 !important;
	font-family: "Muli", sans-serif;
	font-weight: 400;
}
.hideRadio{
	display: none !important;
}

.selectUplpadDocument{
    padding-top: 15px;
}

.selectDocument div label {
    margin-left: 0px;
    font-size: 0.9rem !important;
}
.selectUplpadDocument div label {
    margin-left: -14px;
    font-size: 0.9rem !important;
}

@media only screen and (max-width: 559px) {
    #textAndCall label{
        padding-bottom: 15px;
    }
  }
.selectUplpadDocument div label .MuiRadio-colorPrimary{
    padding: 0px 9px 0px 9px;
}

.loanDocumentGrid {
    padding-bottom: 10px
}

.documentInput {
    padding-top: 20px;
}
.documentUploadToolTip {
    font-size: 14px;
    margin: 0px;
}