#uploadBtn {
    padding: 0px 30px !important;
    font-size: 0.938rem;
    font-family: 'Muli', sans-serif !important;
}

#pageHeading {
    margin: 0 !important;
    line-height: 0 !important;
}

#selectDoccumentWrap .subOption {
    color: #171717 !important;
    display: block;
    padding: 0px 0px 7px 0px !important;
}

.textdecoration {
    text-decoration: none;
}

.gridPadding {
    padding-top: 10px;
}

.loanDocumentWrap {
    padding-top: 10px;
    padding-bottom: 30%;
}

.selectDocument {
    padding-top: 25px;
    width: 225px;
}
.selectDocument div label {
    margin-left: -14px;
    font-size: 0.9rem !important;
}

.loanDocumentGrid {
    padding-bottom: 10px
}

.documentInput {
    padding-top: 20px;
}