@font-face {
    font-family: "MuliBold";
    font-style: normal;
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    src: url(https://fonts.gstatic.com/s/muli/v22/7Auwp_0qiz-afTLGLQ.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

.stroke-blue {
    stroke: #274367;
}

.stroke {
    stroke: rgb(220, 220, 224);
}

.centerHeading {
    color: #181818;
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

.donutChart {
    height: 170px;
    -webkit-filter: drop-shadow(0px 10px 4px rgba(133, 3, 168, .2));
    filter: drop-shadow(0px 10px 4px rgba(133, 3, 168, .2));
}

.limitedOfferWrap {
    width: 100%;
}

#limitedOfferWrap {
    width: 100%;
}

.overviewWrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

#overviewWrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.imageholder {
    width: 66%;
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    box-shadow: rgb(61 61 61 / 10%) 0px 8px 44px 0px;
}

.imageholdernew {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 24px;
    border-right: 10px !important;
    display: flex;
    box-shadow: rgb(61 61 61 / 10%) 0px 8px 44px 0px;
}

.imageholdernewtop {
    padding-right: 10px;
    display: flex;
}

.yellowBackground {
    background-color: #ffbc24;
    display: flex;
    width: 100%;
}

.greyBackgroundHolder {
    background-color: #DBDBDB;
    display: flex;
    width: 100%;
}

.bannerImage {
    width: 100%;
}

.secondBannerWrap {
    width: 23%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    box-shadow: rgb(61 61 61 / 10%) 0px 8px 44px 0px;
}

.secondBannerWrapNew {
    width: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 10px;
    padding: 24px;
    box-shadow: rgb(61 61 61 / 10%) 0px 8px 44px 0px;
}

.secondBannerWrapNewtop {
    border-radius: 10px;
    display: flex;
    padding-left: 10px;
}

.secondBannerImage {
    width: 100%;
}

.overviewOfferText {
    font-size: 1.538rem;
}

.overviewOfferAmountText {
    font-size: 34.5px;
}

.secondGrid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.secondBannerWrap a {
    text-decoration: none;
    height: 100%;
}

#applyNowButton {
    color: white;
    background-color: #0f4fb3;
    font-family: "Muli", sans-serif !important;
    font-weight: 900;
    border-radius: 5px !important;
    height: 30px;
    padding: 0px 30px;
    display: block;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.mortgageText {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mortgageHeading {
    font-size: 1.563rem;
    font-weight: 700;
    line-height: 28px;
    color: #171717;
    letter-spacing: 0px;
    width: 100%;
    text-align: center;
}

.mortgageParagraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #171717;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    margin: 11px 0px 12px 0px;
}

.buttonSecondaryWrap {
    margin-bottom: 7px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.buttonSecondaryWrap a {
    text-decoration: none;
}

#claimButton {
    border-radius: 20px;
}

#applyForLoanButton {
    color: white;
    background-color: #0f4fb3;
    font-weight: 900;
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
    padding: 0px 30px;
}

.offerTextTwo {
    margin: 5% 0%;
}

.offerTextWrap {
    margin-bottom: 7px;
    height: 79.4531px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#personalText {
    font-size: 20px;
    margin-bottom: 7px !important;
    line-height: 110%;
    font-weight: 400;
    color: #171717;
}

#offerMoney {
    font-size: 25px !important;
    color: #171717;
    line-height: 28px;
}

#applyForLoanLink {
    display: block;
    margin-bottom: 7px;
}

.disclosureLink {
    display: block;
    font-size: 0.675rem;
    color: #0F4EB3;
}

@media (min-width:1400px) {
    #claimButton {
        height: 32px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 1366px) {
    .imageholder {
        width: 66%;
    }
}

@media only screen and (min-width: 1441px) {
    .imageholder {
        width: 68%;
    }

}

@media only screen and (min-width: 2000px) {
    .yellowBackground {
        justify-content: space-between;
    }

    .bannerImage {
        width: unset;
    }

    .secondBannerWrap {
        width: unset;
    }
}


@media (max-width:960px) {
    .imageholder {
        width: 64%;
    }

    .secondBannerWrap {
        width: 21%;
    }

    .secondBannerWrap {
        align-items: unset !important;
    }

    .mortgageHeading {
        font-size: 20px;
    }

    .mortgageParagraph {
        font-size: 18px;
    }
}

@media (max-width:760px) {
    .imageholder {
        width: 100% !important;
    }

    .secondBannerWrap {
        width: 100% !important;
        margin-top: 40px;
    }

    .yellowBackground {
        flex-direction: column;
    }

    .greyBackgroundHolder {
        flex-direction: column;
    }

    .bannerImage {
        width: 100%;
    }

    #claimButton {
        font-size: 30px;
        padding: 0px 30px !important;
        height: 26px;
    }
}

@media only screen and (max-width: 599px) {
    .secondBannerWrapNewtop {
        padding-left: 0px;
        margin-top: 20px;
    }
}