

.centerHeading {
    color: #181818;
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}


#mainContainer{
    width: 100%;
}
#paperPropertiesLimitedOffer{
    border-radius: 2px !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;
    
}

#paperPropertiesOfferTwo{
    border-radius: 2px !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;
     
}



@media only screen and (max-width: 1024px)  {
           
    #loanText{
    font-size: 16px !important;
}
    #offerText{
    font-size: 25px !important;
    }
    #loanPercent{
        font-size: 18px !important;
    }
    #claimButton{
        padding: 0px 12px !important;

    }
}


#yellowBg{
    background-color: #febb26;
    display: flex;
    align-items: center;
    height: 100%;
}
#offerText{
    text-align: center;
    padding-right: 13px;
}
#loanText{
    font-size: 20px;
    color: #171717;
    margin-bottom: 7px;
}
#loanPercent{
    font-weight: bolder;
    font-size: 34.2px;
    color: #171717;
    margin: 0px 0px 10px 0px;
}
#claimButton{
    color: white;
    background-color: #0f4fb3;
    font-family: 'Muli', sans-serif !important;
    font-weight: 900;
    border-radius: 5px;
    height: 30px;
    padding: 0px 30px;

}

@media only screen and (max-width: 768px)  {
    #offerText button{
        font-size: 12px;
        }
        #loanText{
        font-size: 14px !important;
        }
        #offerText{
        font-size: 20px !important;
        }
}
#Wrapp{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Wrapp img{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 427px)  {
    #yellowBg{
    flex-direction: column;
    }
    #yellowBg img{
    width: 100% !important;
    }
    #offerText{
        margin: 15px 0px !important;
    }
}


@media only screen and (max-width: 1024px)  {
   
#nextPaymentItems{
    font-size: 18px !important;
    font-weight: 600;
}
#dueDate{
    font-size: 15px !important;
}
#activeLoanGrid{
    height: 100%;
}
#regularAmountGrid{
    margin-left: -10px;
}
#scheduledPaymentGrid{
    margin-left: -15px !important;
}
#RegularAmmountText{
    width: 116px;
}
#ScheduledPaymentText{
    width: 149px !important;
    font-size: 15px;
}
}


@media only screen and (max-width: 425px)  {
    #activeLoanGrid{
        height: 100% !important;
    }
    #activeLoanWrap{
        margin-bottom: 60px;
    }
    #regularAmountGrid{
        margin-left: 0;
    }
    #scheduledPaymentGrid{
        margin-left: 0 !important;
    }
}


@media (max-width:599px){
    #LimitedOfferGrid{
        
    padding-bottom: 30px;
    }
    }

    @media (max-width:425px){
        #offerText{
            
        padding-right: unset !important;
        }
        }

