#rentOrMortage-label {
	font-size: 0.968rem !important;
}

#rentOrMortage {
	padding-bottom: 15px !important;
}

#ownOrRentWrap {
	border-radius: 2px !important;
	padding: 0 !important;
}

#ownOrRentWrap .mt-0 {
	border-radius: 2px 2px 0px 0px !important;
}

#ownOrRentBoxOne,
#ownOrRentBoxTwo,
#ownOrRentBoxThree,
#ownOrRentBoxFour,
#ownOrRentBoxFive {
	padding: 3px 0px !important;
	font-size: 0.938rem !important;
	margin: 0px 0px 15px 0px !important;
}

#ownOrRentBoxOne{
	margin: 15px 0px 15px 0px !important;
}
