
/* @media only screen and (max-width: 360px) {
    .iconlogin {
      position: relative;
      left: -10px;
    }
  } */
#maincontent_background{
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  #maincontent{
    margin-top: 2% !important;
    margin-bottom: 5% !important;
    height: auto !important;
  }

#rememberme {
  padding-left: 12px;
}
  @media (max-width:400px){
   #email-label{
       font-size: 4vw;

   }
   #password-label{
    font-size: 4vw;
 
}
#rememberme span{
  font-size: 4vw;
  

}
}


.showError{
  display: block;
  color: red;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hideError{
  display: none;

}

.addPadd{
  margin-left: -1px !important;
  padding-top: 20px !important;
  font-size: 14px!important;
}