.card {
	padding: 5% 5% 1% 5%;
}

.cardWrapper {
	margin-top: 5%;
	margin-bottom: 2%;
}

.borrowCSS {
	margin-top: 4% !important;
	margin-bottom: 4% !important;
}

.setSlider {
	margin-bottom: 0 !important;
}

.alignSlider {
	margin-bottom: 7% !important;
	text-align: center;
}

.setGreenColor {
	color: green;
}

.smallText {
	font-size: 0.8rem !important;
	line-height: 25px !important;
	color: #fff;
	font-family: "Muli", sans-serif;
	font-weight: 300;
	justify-content: center;
}

.alignText {
	color: #595959;
	font-size: 0.9rem;
	margin-top: 2%;
}

.alignTextInsideCard {
	padding-top: 2%;
}

.open {
	height: 50px;
	transition: 0.5s;
}

.close {
	height: 0;
	transition: 0.5s;
	overflow: hidden;
}

.CMOHeading {
	font-size: 1.563rem !important;
	line-height: 110% !important;
	margin: 0.82rem 0 0.656rem 0 !important;
}

#selectAmountWrap {
	border-radius: 10px !important;
}

.checkMyOffersWrap {
	padding: 24px;
}

#oneLastStepWrap {
	border-radius: 10px !important;
}

#oneLastStepWrap div:nth-child(1) {
	border-radius: 10px 10px 0px 0px !important;
}

#activeDutyWrap {
	border-radius: 10px !important;
}

#activeDutyWrap div:nth-child(1) {
	border-radius: 4px 4px 0px 0px !important;
}

#selectActiveDuty div label {
	font-size: 0.968rem !important;
	margin-left: -14px;
}
#selectActiveDuty div p {
	margin: 3px 0px;
}

#selectActiveDuty div div:nth-child(2) {
	padding-bottom: 6px !important;
}

#activeDutyRankWrap div label {
	font-size: 0.968rem !important;
	margin-left: -14px;
}
#activeDutyRankWrap div p {
	margin: 3px 0px;
}
#activeDutyRankWrap div div:nth-child(2) {
	padding-bottom: 6px !important;
}

#maritalStatusWrap {
	border-radius: 4px !important;
}

#maritalStatusWrap div:nth-child(1) {
	border-radius: 4px 4px 0px 0px !important;
}

#selectMaritalStatus div label {
	font-size: 0.968rem !important;
}

#spouseAddressWrap-label {
	font-size: 0.968rem !important;
}

#spouseAddressWrap {
	padding-bottom: 15px !important;
}

#zip-label {
	font-size: 0.968rem !important;
}

#zip {
	padding-bottom: 15px !important;
}

#cityWrap-label {
	font-size: 0.968rem !important;
}

#cityWrap {
	padding-bottom: 15px !important;
}

#stateWrap-label {
	font-size: 0.968rem !important;
}

#stateWrap {
	padding-bottom: 15px !important;
}

#sliderBar {
	padding: 7px 0px;
	
}
.MuiSlider-track{
	border: none;
	height: 3px;
}

.MuiSlider-rail{
	color: #656565;
}

#sliderBar .MuiSlider-rail,
#sliderBar .MuiSlider-mark {
	height: 3px !important;
}

#sliderBar .MuiSlider-thumb {
	width: 13px !important;
	height: 13px !important;
}
#sliderBar .MuiSlider-thumb:hover{
	box-shadow: 0px 0px 0px 8px rgb(255 188 35 / 16%);
}
#sliderBar .MuiSlider-thumb.Mui-focusVisible{
	box-shadow: 0px 0px 0px 8px rgb(254 195 58 / 16%);
}
#sliderBar .Mui-active{
	box-shadow: 0px 0px 0px 14px rgb(254 195 58 / 16%) !important;
}

#offerCodeInput-label {
	font-size: 0.968rem !important;
}

#offerCodeInput {
	padding-bottom: 15px !important;
}

.selectAmountGrid {
	margin-bottom: 5% !important;
}
.sliderLabelWrap h4{
	margin: 10px 0px;
}
.minAndMaxDiv{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.minDiv::after,.maxDiv::after,.selectedAmount::after,#selectedAmountText::after{
	content: " | ";
	display: block;
}
#selectedAmountText{
	color: #ffbc23;
}