#card_loanhistory-bg {
	background: linear-gradient(85deg, #0f4eb3, #264266) !important;
	box-shadow: 0 6px 20px 0 rgba(57, 73, 171, 0.5) !important;

}
#scrollable-auto-tab-vertical-0.Mui-selected{
	width:90% !important;
	max-width: unset !important;
}

#dolor-icon-loan-history {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	padding: 15px;
	background: #ffbc23 !important;
	color: #171717 !important;
}
.posRelativeWidthAuto {
	position: relative !important;
	width: auto !important;
}
.rowProps {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}
.paddingLeftZero {
	padding-left: 0 !important;
}

.rowFont {
	font-size: 1rem !important;
	font-weight: 700 !important;
}

.yelloWBG {
	background: #ffbc23 !important;
	color: #171717 !important;
}

.material-icons {
	font-family: "Material Icons";
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	white-space: nowrap;
	letter-spacing: normal;
	text-transform: none;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: "liga";
	font-feature-settings: "liga";
}

.background-round {
	padding: 15px;
	border-radius: 50%;
}

.showContent {
	display: block;
}
.hideContent {
	display: none;
}

#profilePhoneNumberWrap div div div{
	opacity: 0.7 !important;
}

#paymentMethodBtnWrap {
	display: flex !important;
	margin-bottom: 10px;
}
#addBankAccount_button {
	margin-right: 20px;
	padding: 0 35px;
	font-family: "Muli", sans-serif !important;
	font-size: 15px !important;
}

.sepmarginBottom {
	font-size: 0.938rem;
	text-align: justify;
	font-family: "Muli", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #171717;
}

#txtPhoneNumber div div label{
	font-size: 0.938rem !important;

}

#txtPhoneNumber div div div input{
	padding-bottom: 15px !important;
}

#addDebitCard_button {
	font-family: "Muli", sans-serif !important;
	font-size: 15px !important;
	color: #171717;
	padding: 0px 25px;
}

.expirydate div div {
	display: none;
}

#mainContentTab{
	border-radius: 2px !important;
}

#basicInfo{
	border-radius: 2px !important;
}

#basicFirstName{
	padding-bottom: 15px;
}
#basicFirstName-label{
	font-size: 0.938rem;
}
#basicLastName{
	padding-bottom: 15px;
}
#basicLastName-label{
	font-size: 0.938rem !important;
}

#basicDOB{
	padding-bottom: 15px;
}
#basicDOB-label{
	font-size: 0.938rem !important;
}
#basicPhoneNumber div div div input{
	padding-bottom: 15px;
}
#basicPhoneNumber div div label{
	font-size: 0.938rem !important;
}
 #profilePhoneNumberWrap div div div{
	opacity: 0.7 !important;
}
#profilePhoneNumberWrap div div div input{
	padding-bottom: 15px;
}
#profilePhoneNumberWrap div div label{
	font-size: 0.938rem !important;
}
#uploadProfileImage{
	transition: 0.5s !important;
}
#uploadProfileImage:hover{
	background-color: #214476 !important;
	color: white !important;
}

#imgUploadWrap{

    max-width: 100px !important;
	max-height: 100px !important;
	border-radius: 50%;
    margin-right: 25px;
	overflow: hidden;
}

#imgUploadWrap img{
	width: 100%;
}

#oldPasswordWrap{
	padding-bottom: 15px !important;
}
#oldPasswordWrap-label{
	font-size: 0.938rem !important;
}

#newPasswordWrap{
	padding-bottom: 15px !important;
}
#newPasswordWrap-label{
	font-size: 0.938rem !important;
}

#retypeNewPasswordWrap{
	padding-bottom: 15px !important;
}
#retypeNewPasswordWrap-label{
	font-size: 0.938rem !important;
}
#apply-loan-reset-button{
	padding: 0px 30px !important;
	font-size: 00.938rem !important;
	font-family: "Muli",sans-serif !important;
}
#reEnterUpdate{
	margin-right: 10px;
}

#accountNickname-label{
	font-size: 0.938rem !important;
}
#accountNickname{
	padding-bottom: 15px !important;
}

#accountHolder-label{
	font-size: 0.938rem !important;
}

#accountHolder{
	padding-bottom: 15px !important;
}

#bankRoutingNumber-label{
	font-size: 0.938rem !important;
}

#bankRoutingNumber{
	padding-bottom: 15px !important;
}

#bankName-label{
	font-size: 0.938rem !important;
}

#bankName{
	padding-bottom: 15px !important;
}

#bankAccountNumber-label{
	font-size: 0.938rem !important;
}

#bankAccountNumber{
	padding-bottom: 15px !important;
}


/* Add debit card */

#cardNumber-label{
	font-size: 0.938rem !important;
}

#cardNumber{
	padding-bottom: 15px !important;
}

#cardName-label{
	font-size: 0.938rem !important;
}

#cardName{
	padding-bottom: 15px !important;
}

#NotificationsTxt .MuiFormControlLabel-label{
	font-size: 0.75rem;
}

@media (max-width:425px) {
	#reEnterCancel{
		justify-content: center !important;
		width: 100% !important;
	}
	#reEnterUpdate{
		justify-content: center !important;
		width: 100% !important;
		margin-right: 0px !important;
	}
	#reEnterCancel button{
		width: 100% !important;
	}
	#reEnterUpdate button{
		width: 100% !important;
	}
}
@media (max-width: 599px) {
	#myProfileMainContent{
		padding-left: 0px !important;
		margin-top: 20px;
	}
	#paymentMethodBtnWrap {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		display: unset !important;
	}
	#make-payment-cancel-button {
		margin: 0 !important;
	}
	#addBankAccount_button {
		width: 100%;
		margin-top: 20px;
	}
	#addDebitCard_button {
		width: 100%;
		margin-top: 20px;
	}
}
