@media only screen and (max-width: 599px) {
  #closeBtn {
    right: 5px !important;
    top: 0px !important;
  }

  #consumerDialogHeading {
    font-size: 26px;
    font-weight: bold;
  }
}

#buttonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

#consumerMain {
  position: relative;
}

#closeBtn {
  position: absolute;
  right: 14px;
  top: 5px;
}

#stayBtn {
  margin-right: 10px;
  font-family: "Muli", sans-serif !important;
  font-weight: 700;
  padding: 0px 35px;
  box-shadow: none;
  text-transform: none !important;
}

#Continue {
  font-family: "Muli", sans-serif !important;
  font-weight: 700;
  padding: 0px 30px;
}