.mainDiv {
	background-color: #124ca8;
	background-image: linear-gradient(to right, #26436a, #104db0);
	min-height: 500px !important;
}
.cardWOPadding {
	text-align: center;
}
.cardWrapper {
	margin-top: 5%;
	margin-bottom: 2%;
}
.borrowCSS {
	margin-top: 4% !important;
	margin-bottom: 4% !important;
}
.setSlider {
	margin-bottom: 0 !important;
}

.alignSlider {
	margin-bottom: 7% !important;
	text-align: center;
}
.setGreenColor {
	color: green;
}

.smallText {
	font-size: 0.8rem;
	color: #fff;
	font-family: "Muli", sans-serif;
	font-weight: 300;
}

.alignSmallText {
	margin-bottom: 3%;
}
.alignText {
	color: #595959;
	font-size: 0.9rem;
	margin-top: 2%;
}

.alignTextInsideCard {
	padding-top: 2%;
}

.open {
	height: 50px;
	transition: 0.5s;
}

.close {
	height: 0;
	transition: 0.5s;
	overflow: hidden;
}

.yellowText {
	color: #ffbc23 !important;
	margin-left: 10px;
	font-size: x-large;
	text-align: left;
}

.radioBlock {
	width: 100px;
	border: 1px solid #0f4eb3;
	cursor: pointer;
	display: block;
	min-width: 100% !important;
	background: #fff;
	font-family: "Muli", sans-serif !important;
	line-height: 2;
	text-align: center;
	margin: 10px 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.activeBorder {
	background: #134ca5 !important;
	box-shadow: 1px 0 2px #144ba1;
	color: white !important;
}

.showMsg {
	display: block;
	margin: 0;
	color: #f44336 !important;
	font-family: "Muli", sans-serif;
	font-weight: 400;
}
.hideMsg {
	display: none;
}

.smallTextLeftError {
	text-align: left !important;
	font-size: 0.8rem;
	color: red;
	margin-top: 10px !important;
}

/*Animation*/
.spinAnimation {
	animation-name: rotation;
	animation-duration: 3s;
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

.slantDiv {
	transform: skewX(-20deg);
	margin-left: -3px;
}

.progress .determinate {
	background-color: #ffbc25;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: width 0.3s linear;
	transition: width 0.3s linear;
}

.progress {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;

	margin: 0.5rem 0 0.938rem 0;
	border-radius: 2px 2px 0px 0px;
	background-color: white;
	height: 16px;
	text-align: left !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.det40 {
	width: 40%;
}

.detNum40 {
	padding-left: 40%;
	font-weight: 600;
	color: #134ca8;
	margin-left: 0.5%;
}
.textBlock {
	margin: 15px 0 19px 0 !important;
}

.hideError {
	display: none;
}

.showError {
	display: block;
}
.borrowCSSLP {
	font-size: 1.538rem !important;
	font-weight: 400 !important;
	line-height: 110% !important;
}

.pad-top {
	margin-top: 10px !important;
}

.alignErrorLeft {
	width: 100%;
	text-align: left;
}

#firstName,
#lastName,
#date,
#ssn,
#email,
#phone {
	padding-bottom: 15px !important;
}

#firstName-label,
#lastName-label,
#date-label,
#ssn-label,
#email-label,
#phone-label {
	font-size: 0.938rem !important;
	padding-bottom: 10px !important ;
}

#tellUs div div label {
	font-size: 0.968rem !important;
}

#tellUs div div div input {
	padding-bottom: 15px !important;
}

#phoneInput div div label {
	font-size: 0.968rem !important;
}

#phoneInput div div div input {
	padding-bottom: 15px !important;
}

#aboutYourselfWrap {
	border-radius: 10px !important;
}

#arrowBack{
	position: relative;
}

.floatingButton{
	position: absolute;
}
