#BG{
    background-image: url(../../assets/images/loginbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.headerWrap{
    position: sticky !important;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.topBar{
    height: 36px;
    background: linear-gradient(to left, #264266, #0F4EB3);
}

#MainHeaderWrap{
    background-color: white !important;
    box-shadow: 0px 3px 9px -6px #000000 !important;
    position: sticky;
    top: 0;
    z-index: 9;
}
.headerToolBar{
    height: 82px;
    padding: 0px 25px !important;
    align-items: flex-start !important;
}


#blogsLink a{
    height: 79px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-right: 35px;
}
.faqLink p{
    height: 79px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-right: 35px;
}
.branchLocatorLink p{
    height: 79px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-right: 35px;
}

#blogsLink a:hover{
    border-top: 3px solid #214476 !important;
    color: #214476 !important;
}
.faqLink p:hover{
    border-top: 3px solid #214476 !important;
    color: #214476 !important;
}
.branchLocatorLink p:hover{
    border-top: 3px solid #214476 !important;
    color: #214476 !important;
}

.topBarlinks{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 25px;
}

 
.topBarLinkTwo,
.topBarLinkOne{
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #fff;
}
.topBarLinkThree{
    height: 100%;
    display: flex;
    align-items: center;
    border-right: none;
}

.topBarLinkThree p, 
.topBarLinkTwo p,
.topBarLinkOne a{
    color: white;
    font-size: 14px;
    font-weight: 200;
    padding: 0px 15px;
}

.branchHeaderLinks ,.branchHeaderLinksFirst{
    height: 79px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-right: 35px;
}
.branchHeaderLinksLast {
    height: 79px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.branchHeaderLinksLast p span {
    background-color: #efefef;
    padding: 0px 6px;
    line-height: 1.15;
}
.branchHeaderLinks p,
.branchHeaderLinksFirst p,
.branchHeaderLinksLast p{
    height: 79px;
    padding: 0px;
    display: flex;
    align-items: center;
    border-top: 3px solid #21447600 !important;
}
.branchHeaderLinks p:hover,
.branchHeaderLinksFirst p:hover,
.branchHeaderLinksLast p:hover{
    height: 79px;
    padding: 0px;
    display: flex;
    align-items: center;
    border-top: 3px solid #214476 !important;
}