.cardWrapper {
	margin-top: 5%;
	margin-bottom: 2%;
}

.borrowCSSLP {
	font-size: 1.538rem !important;
	line-height: 110% !important;
}
.alignSlider {
	margin-bottom: 7% !important;
	text-align: center;
}
.smallText {
	font-size: 0.8rem;
	color: #fff;
	font-family: "Muli", sans-serif;
	font-weight: 300;
}

.alignText {
	color: #595959;
	font-size: 0.9rem;
	margin-top: 2%;
}

.alignTextInsideCard {
	padding-top: 2%;
}

.slantDiv {
	transform: skewX(-20deg);
	margin-left: -3px;
}

.progress .determinate {
	background-color: #ffbc25;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: width 0.3s linear;
	transition: width 0.3s linear;
}

/* .progress {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0.5rem 0 0.938rem 0;
	border-radius: 2px;
	background-color: white;
	height: 16px;
} */

.mt-0 {
	margin-top: 0 !important;
}

.det1 {
	width: 8.333333333333334%;
}

.detNum1 {
	padding-left: 8.333333333333334%;
	font-weight: 600;
	color: #134ca8;
	margin-left: 0.5%;
}

.activeCard {
	background-color: #134ca5 !important;
	color: white !important;
}

.block {
	height: 100%;
	text-align: center;
	position: relative;
	transition: box-shadow 0.25s;
	border-radius: 2px;
	background-color: #fff;
	cursor: pointer;
	min-height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.insideBlock {
	padding: 10%;
}

.icon {
	height: 50px;
	width: 50px;
}

.outer-block {
	padding: 10px;
}

.blockDiv {
	padding: 0 24px 24px 24px !important;
	align-items: stretch;
}

.othersBlock {
	padding: 6px;
	cursor: pointer;
}

.textCSS {
	color: #171717;
	font-size: 1.15rem !important;
	line-height: 110% !important;
	margin: 0.2rem 0 0.2rem 0 !important;
	font-family: "Muli", sans-serif !important;
	font-weight: 400 !important;
}

.whiteText {
	color: white !important;
}

.yellowText {
	color: #ffbc23 !important;
	margin-left: 10px;
	font-size: x-large;
	text-align: left;
}

.ContinueButton {
	margin: 15px 0px 19px 0 !important;
}

.floatLeft {
	text-align: left;
}

#loanPurposeWrap {
	border-radius: 10px !important;
	padding-bottom: 0 !important;
}

#purposeTxt01,
#purposeTxt02,
#purposeTxt03,
#purposeTxt04,
#purposeTxt05,
#purposeTxt06,
#purposeTxt07,
#purposeTxt08,
#purposeTxt09,
#purposeTxt10 {
	font-size: 1.078rem !important;
}

#otherText {
	font-size: 1.12rem !important;
}

#purposeTxt07 span {
	font-size: 0.938rem !important;
}