.mainDiv {
	background-color: #124ca8;
	background-image: linear-gradient(to right, #26436a, #104db0);
	min-height: 500px !important;
}
.cardWrapper {
	margin-top: 5%;
	margin-bottom: 2%;
}
.borrowCSSLP {
	font-size: 1.538rem !important;
	line-height: 110% !important;
}
.setSlider {
	margin-bottom: 0 !important;
}

.alignSlider {
	margin-bottom: 7% !important;
	text-align: center;
}
.setGreenColor {
	color: green;
}

.smallText {
	font-size: 0.8rem;
	color: #fff;
	font-family: "Muli", sans-serif;
	font-weight: 300;
}

.alignSmallText {
	margin-bottom: 3%;
}
.alignText {
	color: #595959;
	font-size: 0.9rem;
	margin-top: 2%;
}

.alignTextInsideCard {
	padding-top: 2%;
}

.slantDiv {
	transform: skewX(-20deg);
	margin-left: -3px;
}

.progress .determinate {
	background-color: #ffbc25;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: width 0.3s linear;
	transition: width 0.3s linear;
}

.progress {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0.5rem 0 0.938rem 0;
	border-radius: 2px;
	background-color: white;
	height: 16px;
}

.mt-0 {
	margin-top: 0 !important;
}

.det1 {
	width: 8.333333333333334%;
}

.detNum1 {
	padding-left: 8.333333333333334%;
	font-weight: 600;
	color: #134ca8;
	margin-left: 0.5%;
}

.activeCard {
	/* border: 1px solid #134ba2 !important;
    box-shadow: 1px 0px 2px #144ba1 !important; */
	background-color: #134ca5 !important;
	color: white !important;
}

.block {
	height: inherit;
	text-align: center;
	position: relative;
	-webkit-transition: box-shadow 0.25s;
	transition: box-shadow 0.25s;
	border-radius: 2px;
	background-color: #fff;
	cursor: pointer;
	/* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) */
}

.insideBlock {
	padding: 10%;
}

.icon {
	height: 50px;
	width: 50px;
}

.outer-block {
	padding: 10px;
}

.blockDiv {
	padding: 0 24px 24px 24px !important;
	align-items: stretch;
}

.othersBlock {
	padding: 6px;
	cursor: pointer;
}

.textCSS {
	color: #171717;
	font-size: 1.15rem !important;
	line-height: 110% !important;
	margin: 0.2rem 0 0.2rem 0 !important;
	font-family: "Muli", sans-serif !important;
	font-weight: 400 !important;
}

.whiteText {
	color: white !important;
}

.yellowText {
	color: #ffbc23 !important;
	margin-left: 10px;
	font-size: x-large;
	text-align: left;
}

.ContinueButton {
	margin: 15px 0px 19px 0 !important;
}

.floatLeft {
	text-align: left;
}

#loanPurposeWrap {
	border-radius: 2px !important;
	padding-bottom: 0 !important;
}

#purposeTxt01,
#purposeTxt02,
#purposeTxt03,
#purposeTxt04,
#purposeTxt05,
#purposeTxt06,
#purposeTxt07,
#purposeTxt08,
#purposeTxt09,
#purposeTxt10 {
	font-size: 1.078rem !important ;
}
#otherText{
	font-size: 1.12rem !important;
}

#purposeTxt07 span{
	font-size: 0.938rem !important;
}

