#telephoneNmber {
  margin: 14px 0px 20px 0px;
}
.businessHours tr td {
  border: 1px solid rgba(224, 224, 224, 1) !important;
  font-weight: 400;
}
.businessHoursHead tr th {
  border: 1px solid rgba(224, 224, 224, 1) !important;
  font-weight: 700;
}
.preFooter {
  background-color: #f6f6f6;
  padding: 40px 20px;
}
@media only screen and (max-width: 400px) {
  .congratulationsImage {
    width: 100%;
  }
}