.MuiTabs-indicator{
	display: none !important;
}
#columnHeading{
	font-size: 0.938rem !important;
}
@media (max-width: 800px) {
	#column-heading {
		font-size: 12px;
	}
}

@media (max-width: 800px) {
	#column-content {
		font-size: 20px;
	}
}

@media (max-width: 600px) {
	#right-border,
	#right-border-loan-term,
	#right-border-apr {
		border-right: none !important;
	}
}

@media (max-width: 600px) {
	#reselect-button,
	#review-submit-button {
		width: 100%;
	}
}

.MuiTabScrollButton-root {
	color: white !important;
}
