.cardWOPadding {
	text-align: center;
}

.cardWrapper {
	margin-top: 5%;
	margin-bottom: 2%;
}

.borrowCSS {
	margin-top: 2% !important;
	margin-bottom: 2% !important;
}

.setSlider {
	margin-bottom: 0 !important;
}

.alignSlider {
	margin-bottom: 7% !important;
	text-align: center;
}

.setGreenColor {
	color: green;
}

.smallText {
	font-size: 0.8rem;
	color: #fff;
	font-family: "Muli", sans-serif;
	font-weight: 300;
}

.alignText {
	color: #595959;
	font-size: 0.9rem;
	margin-top: 2%;
}

.alignTextInsideCard {
	padding-top: 2%;
}

.open {
	height: 50px;
	transition: 0.5s;
}

.close {
	height: 0;
	transition: 0.5s;
	overflow: hidden;
}

.yellowText {
	color: #ffbc23 !important;
	margin-left: 10px;
	font-size: x-large;
	text-align: left;
}

.radioBlock {
	width: 100px;
	border: 1px solid #0f4eb3;
	cursor: pointer;
	display: block;
	min-width: 100% !important;
	background: #fff;
	font-family: "Muli", sans-serif !important;
	line-height: 2;
	text-align: center;
	margin: 10px 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.activeBorder {
	background: #134ca5 !important;
	box-shadow: 1px 0 2px #144ba1;
	color: white !important;
}

.showMsg {
	display: block;
	margin: 0;
	color: #f44336 !important;

	font-family: "Muli", sans-serif;
	font-weight: 400;
}

.hideMsg {
	display: none;
}

.slantDiv {
	transform: skewX(-20deg);
	margin-left: -3px;
}

.progress .determinate {
	background-color: #ffbc25;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: width 0.3s linear;
	transition: width 0.3s linear;
}
.mt-0 {
	margin-top: 0 !important;
}

.det50 {
	width: 50%;
}

.detNum50 {
	padding-left: 50%;
	font-weight: 600;
	color: #134ca8;
}

.Mui-disabled {
	opacity: 0.7;
}

/*Animation*/
.spinAnimation {
	animation-name: rotation;
	animation-duration: 3s;
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
	}
}

.subText {
	text-align: justify;
	color: #595959;
	font-family: "Muli", sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-top: 4% !important;
	margin-bottom: 4% !important;
}

.incomeText {
	font-size: 0.75rem !important;
	line-height: 1.5 !important;
}

.borrowCSSLP {
	font-size: 1.538rem !important;
	font-weight: 400 !important;
	line-height: 110% !important;
}

#personalIncome-label {
	font-size: 0.968rem !important;
}

#personalIncome {
	padding-bottom: 15px !important;
}

#householdIncome-label {
	font-size: 0.968rem !important;
}

#householdIncome {
	padding-bottom: 15px !important;
}

#incomeWrap {
	border-radius: 10px !important;
}
