.mainDiv {
	background-color: #124ca8;
	background-image: linear-gradient(to right, #26436a, #104db0);
	min-height: 500px !important;
}

.card {
	padding: 5% 5% 1% 5%;
}

.mobileFontParagraph {
	text-align: justify;
	align-items: center;
}

.cardWrapper {
	margin-top: 5%;
	margin-bottom: 2%;
}

.borrowCSS {
	margin-top: 4% !important;
	margin-bottom: 4% !important;
}

.lessBorrowCSS {
	margin-top: 1% !important;
	margin-bottom: 1% !important;
	font-weight: 400;
	line-height: 1.3;
}

.setSlider {
	margin-bottom: 0 !important;
}

.alignSlider {
	margin-bottom: 7% !important;
	text-align: center;
}

.setGreenColor {
	color: green;
}

.smallText {
	font-size: 0.8rem;
	color: #fff;
	font-family: "Muli", sans-serif;
	font-weight: 300;
}

.alignSmallText {
	margin-bottom: 3%;
}

.alignText {
	color: #595959;
	font-size: 0.9rem;
	margin-top: 2%;
}

.alignTextInsideCard {
	padding-top: 2%;
	text-align: justify !important;
}

.open {
	height: 50px;
	transition: 0.5s;
}

.close {
	height: 0;
	transition: 0.5s;
	overflow: hidden;
}

.noLink {
	text-decoration: none !important;
}

.smallTextImgNoOff {
	font-size: 1.1rem !important;
	line-height: 1.3 !important;
	font-weight: 400 !important;
}

.smalTextImgNoOff {
	font-size: 1.125rem;
	font-weight: 400 !important;
	text-align: center !important;
	line-height: 26px !important;
}

.printPage {
	cursor: pointer;
	text-decoration: underline;
}

@media print {
	.printPage {
		display: none !important;
	}
}

@media (min-width: 600px) {
	.buttonEnd {
		justify-content: flex-start !important;
	}

	.buttonStart {
		justify-content: flex-end !important;
	}
}


.smallTextImgNoOffOne {
	font-size: 1.125rem !important;
	font-weight: 400 !important;
	text-align: center !important;
	line-height: 26px !important;
	margin: 15px 0px 0px 0px !important;
}

.smallTextImgNoOff {
	font-size: 1.125rem !important;
	font-weight: 400 !important;
	text-align: center !important;
	line-height: 26px !important;
	margin: 0 !important;
}

#CongratsTxt {
	font-size: 2.125rem !important;
	margin: 17px 0px !important;
}

#referCongratsTxt {
	font-size: 2.125rem !important;
	margin: 17px 0px !important;
	text-align: center;
}

.CongratsSmallTxt {
	font-size: 0.875rem !important;
	text-align: justify !important;
}

.beforeVisit {
	font-size: 0.938rem !important;
}

.beforeVisitOne {
	margin: 20px 0px 10px 0px !important;
}