  #main-content-background{
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Mui-focused{
    background-color:transparent !important;
    color: white;
  }

  .printPage {
	cursor: pointer;
	text-decoration: underline;
  }
  @media print{    
    .printPage { 
      display: none !important; 
    }
  }

  #citizenship, #employementStatus, #marriedStatus,#phoneType{
    background:transparent !important;
  }

.MuiInput-underline:before{
    border-bottom: 2px solid #0F4EB3 !important;
}

.cardWOPadding{
    padding-bottom: 1%;
    text-align: center;
}

.partnerSignUpCard,.confirmationCard{
    margin: 0% auto 1% auto !important;
}
#spouseZipWrap,#spouseCityWrap{
    padding-right: 10px;
}

@media (max-width:400px){
    #email-label, #password-label, #c-pass-label, #firstname-label, #lastname-label, #zip-label{
        font-size: 4vw;

    }
}
@media (max-width:400px){
#dob-title,#password-title{
    font-size: 3vw;

}
}

label + .MuiInput-formControl{
    background: transparent;
}

.showError{
    display: block;
    color: red;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.hideError{
    display: none;

}
#activeDutyRankGrid .MuiFormControl-fullWidth label{
    margin-left: -14px;
}

label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated{
    font-size: 0.862rem;
}
#activeDutyGrid .MuiFormControl-fullWidth label{
margin-left: -14px;
}
p#city-helper-text.MuiFormHelperText-root.Mui-disabled.Mui-error{
    margin-bottom: -38px;
}

.Mui-focused{
  background-color:transparent !important;
  color: white;
}

.add-pad{
    margin-left: -1px !important;
    padding-top: 20px !important;
    font-size: 14px!important;
}

.showCheckbox{
    display: block;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
.hideCheckbox{
    display: none;
}

.agreeCheckbox{
    text-align: justify;
      cursor: pointer;
    color: #595959;

}


.formatHref{
    color: #0F4EB3;
    text-align: justify;
    text-decoration: underline;
}

#annualHousehold, #personalIncome, #spouseState , #spouseCity, #spouseZip{
    padding-bottom: 15px !important;
}

#annualHousehold-label, #personalIncome-label, #spouseState-label, #spouseCity-label, #spouseZip-label {
    font-size: 0.938rem !important;
    padding-bottom:10px !important ;
}

#employementStatusWrap div label{
    font-size: 0.968rem !important;
    margin-left: -14px;
}

#employementStatusWrap div div div:nth-child(1) {
    padding-bottom: 15px !important;
}

#citizenshipWrap{
    padding: 0 !important;
}

#citizenshipWrap div label{
    font-size: 0.968rem !important;
    margin-left: -14px;
}
.creditkarmaLogoImage{
    height: 13px;
}
#marriedStatusWrap div label{
    font-size: 0.968rem !important;
}
#marriedStatusWrap .MuiFormControl-fullWidth label{
    margin-left: -14px;
}

#marriedStatusWrap div div div:nth-child(1) {
    padding-bottom: 15px !important;
}
#phoneType .subOption{
    color: #171717 !important;
}
#phoneTypeWrap div label{
    font-size: 0.968rem !important;
}

#phoneTypeWrap div div div:nth-child(1) {
    padding-bottom: 15px !important;
}
#citizenship .subOption{
    color: #171717 !important;
}
#employementStatus .subOption{
    color: #171717 !important;
}