
#apply-loan-comparison-button-grid{
 margin-left: auto !important; 
}
#apply-loan-continue-button{
  margin-left: 10px !important;
}
.MuiTabs-vertical span {
	align-items: start !important;
}

.MuiPaper-rounded {
	border-radius: 0px !important;
}

#scrollable-auto-tab-vertical-0.Mui-selected {
	background: linear-gradient(85deg, #264266, #0f4eb3) !important;
	color: white !important;
	max-width: unset;
	width: 90%;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 3px 10px 0 rgb(123, 31, 162, 50%);
}
#scrollable-auto-tab-vertical-1.Mui-selected {
	background: linear-gradient(85deg, #264266, #0f4eb3) !important;
	color: white !important;
	max-width: unset;
	width: 90%;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 3px 10px 0 rgb(123, 31, 162, 50%);
}
#scrollable-auto-tab-vertical-2.Mui-selected {
	background: linear-gradient(85deg, #264266, #0f4eb3) !important;
	color: white !important;
	max-width: unset;
	width: 90%;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 3px 10px 0 rgb(123, 31, 162, 50%);
}
#scrollable-auto-tab-vertical-3.Mui-selected {
	background: linear-gradient(85deg, #264266, #0f4eb3) !important;
	color: white !important;
	max-width: unset;
	max-width: unset;
	width: 90%;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 3px 10px 0 rgb(123, 31, 162, 50%);
}
#scrollable-auto-tab-vertical-4.Mui-selected {
	background: linear-gradient(85deg, #264266, #0f4eb3) !important;
	color: white !important;
	max-width: unset;
	width: 90%;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 3px 10px 0 rgb(123, 31, 162, 50%);
}

@media (max-width: 600px) {
  #apply-loan-comparison-button{ 
   float: unset!important;
  }
}

@media (max-width: 600px) {
  #apply-loan-comparison-button-grid, #apply-loan-continue-button-grid{
    padding: 0!important;
  }
}

@media (max-width:599px) {
  #loanListTable{
    padding: 0px !important;
    margin-top: 20px;
  }
}

.chartGrid {
	text-align: center;
	min-width: 1vh;
}

.MuiTabs-indicator{
	display: none !important;
}
