.subOption{
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: 'Muli', sans-serif !important;
    color: black;
    padding: 7px 0px !important;
}