.section-top {
  background: #d7e6ed;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
}
.section-bottom {
  background: linear-gradient(85deg, #264266, #0F4EB3) !important;
  text-align: left;
  padding: 15px 15px;
}
.leftAlignAddress {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 6%;
  text-align: left;
}
.NormalLeftAlignAddress{
  padding-left: 6%;
  text-align: left;
}
.main-footer-content {
  font-size: 15px;
  padding-bottom: 14px;
  word-wrap: break-word;
}
.hrefTag {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: inline-block;
}
.linkHeadings{
  font-family: "MuliBold";
  padding-bottom: 25px;
}
.adressFooterFont{
  color: #333;
} 
.footerSocialIcons,.normalFootersocialIcons{
  background-color: #214476 !important;
  border-radius: 5px !important;
  padding: 5px !important;
  color: white !important;
}
.footerSocialIcons span svg,.normalFootersocialIcons span svg {
  font-size: 20px;
}
.adressFooterFont span:nth-child(3){
  padding-top: 15px;
  display: inline-block;
}
.contactUs{
  padding-top: 6.5%;
}
.stayConnected{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.californiaVirginiaGrid{
  padding: 0 0 2% 0;
}
.footerPadding {
  padding: 0px 15px;
}
#mainFooter {
  background-color: #d2e1e7;
  width: 100%
}
#mfInfo {
  align-items: center;
}
.bottomBar {
  height: 50px;
  box-shadow: 0 6px 20px 0 rgba(41, 121, 255, .5) !important;
  background: linear-gradient(85deg, #264266, #0F4EB3) !important;
  display: flex;
  align-items: center;
}
.footer-copyright {
  padding: 10px 0px;
  color: #fffc !important;
  font-size: 0.938rem;
}
.footerHomeLink {
  text-decoration: none;
  color: #fff;
}
.footerText {
  padding: 0 20px;
}
.FooterGridWrap {
  padding: 40px 3.1%;
}
#mfInfoImgOne {
  max-width: 100%;
}
.spanLeftAlignAddress {
  margin: 0;
  cursor: pointer;
  overflow-wrap: break-word
}
#mfInfoImg {
  padding-right: 25px;
  height: 62px;
  width: 157px;
}
#housingImage {
  padding-right: 25px;
  height: 75px;
  width: 69px;
}
@media all and (max-width: 1200px) {
  #badge {
    width: 100%;
  }
}
@media only screen and (max-width: 899px) {
  .stayConnected{
    align-items: flex-start;
    padding-top: 25px;
  }
  .californiaGrid{
    padding: 30px 0 30px 0;
  }
}
@media all and (max-width: 900px) {
  #badge {
    width: unset;
  }
}
@media all and (max-width: 700px) {
  #mfInfo {
    flex-direction: column;
    align-items: center;
  }
  .section-top {
    flex-direction: column;
  }
  .row {
    display: unset !important;
  }
}