#make-payment-schedule-button {
  font-family: "Muli", sans-serif !important;
  font-size: 15px !important;
  color: #171717;
  padding: 0px 25px;
}
.MuiInput-underline:before {
  border-bottom: 2px solid #0f4eb3 !important;
}

#paymentBtnWrap {
  display: flex;
  margin-bottom: 10px;
}

#cancelPaymentBtn {
  margin-right: 20px;
  padding: 0 35px;
  font-family: "Muli", sans-serif !important;
  font-size: 15px !important;
}

#submitBtn {
  font-family: "Muli", sans-serif !important;
  font-size: 15px !important;
  padding: 0px 30px;
}

#select .subOption {
  color: #171717 !important;
}
.mailLink{
  line-break: anywhere;
}

@media (max-width: 599px) {
  #paymentBtnWrap {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #make-payment-cancel-button {
    margin: 0 !important;
  }

  #cancelPaymentBtn {
    margin-right: 0px;
    margin-top: 20px;
  }
  .autoPayButtons button{
    padding: 0px 15px !important;
    letter-spacing: inherit;
  }
}
.buttonsWrap{
  align-items: center;
  justify-content: center;
}

.schedulePopup{
  width: auto;
}
.autoPayButtons {
  width: auto;
}
@media (max-width: 920px) {
  #scheduledPaymentButton{
    margin: 10px 0px 0px 0px!important;
    padding: 20px !important;
  }
  #replaceCurrentButton {
    margin: 15px 0px;
  }
  .schedulePopup {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .schedulePopup button {
    margin: 0px 0px 0px 0px !important;
  }
  .schedulePopupButtons{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .autoPayButtons{
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  }
  .autoPayButtons button{
    margin: 15px 0px 0px 0px !important;
  }
  .buttonsWrap{
   flex-direction: column-reverse;
  }
  .scheduleTxtWrap{
   padding-bottom: 0;
  }
}
@media only screen and (max-width: 360px) {
  .autoPayButtons button{
    padding: 24px 15px !important;
    white-space:break-spaces;
  }
  #replaceCurrentButton{
    margin: 15px 0px 15px 0px !important;
    padding: 20px !important;
  }
}

.alert-dialog-title-auto-pay {
  width: 50% !important;
}

.showError {
  display: block;
  color: red;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.hideError {
  display: none;
}
#scheduleDialogHeading {
  padding: 35px 15px 18px 15px !important;
  justify-content: normal;
}

/* Autoplay Dialog box */

#autopayText {
  padding: 35px 15px 18px 15px !important;
}

/* Delete Payment Dialog box */
#deletePayment .makeStyles-dialogPaper-40 {
  border-radius: 2px !important;
}

#deleteDialogHeading {
  padding: 35px 15px 18px 15px !important;
  justify-content: normal;
}

@media (max-width: 768px) {
  #scheduleDialogBox .MuiDialog-paperWidthSm {
    width: 100% !important;
    max-width: 100% !important;
  }

  #scheduleCloseBtn {
    top: 0;
    right: 0;
  }

  #scheduleDialogHeading {
    padding: 35px 15px 18px 15px !important;
    justify-content: normal;
  }

  #dialogActionsBtn {
    margin-bottom: 25px;
  }

  #scheduleTxt {
    font-size: 25px !important;
  }

  /* Autoplay Dialog box */
  #autopayDialogBox .makeStyles-dialogPaper-40 {
    width: 100% !important;
    max-width: 100% !important;
  }

  #autopayCloseBtn {
    top: 0 !important;
    right: 0 !important;
  }

  #autoTxt {
    font-size: 25px !important;
  }

  #autopayDialogBox .makeStyles-dialogPaper-107 {
    width: 100% !important;
    max-width: 100% !important;
  }

  /* Delete Payment Dialog box */
  #deletePayment .makeStyles-dialogPaper-40 {
    width: 100% !important;
    max-width: 100% !important;
  }

  #deleteTxt {
    font-size: 25px !important;
  }

  #deleteClose {
    top: 0 !important;
    right: 0 !important;
  }

  .replacePaymentBox {
    flex-direction: column-reverse;
  }

}

#paymentTableWrap {
  font-family: "Muli", sans-serif;
  font-size: 0.938rem !important;
}

#autoPaySpan .MuiSwitch-thumb {
  color: #fafafa !important;
}

#autoPaySpan :nth-child(2) {
  font-size: 0.875rem;
  color: #575757;
}

#payment-label {
  font-size: 0.938rem;
  color: #595959;
}

#date-label {
  font-size: 0.938rem;
  color: #595959;
}

#payment {
  padding-bottom: 15px;
}

#makePaymentWrap div:nth-child(2) .MuiPaper-rounded {
  border-radius: 10px !important;
}

#pdfdiv {
  border-radius: 2px !important;
}

#payFromWrap div div label {
  font-size: 0.938rem !important;
  margin-left: -14px;
}
.MuiTableCell-root {
  padding-top: 10px;
  padding-bottom: 10px;
}

#select {
  padding-bottom: 10px;
}
@media (max-width: 950px) {
  #cancelButton{
    margin-bottom: 10px;
    margin-left: 0;
  }
  #yesButton{
    margin-left: 0;
  }
  #removeFuturePaymentButton{
    margin-left: 0;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1153px) {
  
  #paymentBtnWrap {
    flex-direction: column-reverse;
  }
  #cancelPaymentBtn{
    white-space: nowrap;
    margin-right: 0px;
    margin-top: 15px;
  }
  #make-payment-schedule-button{
    padding: 0px 53px !important;
  }
}
@media only screen and (max-width: 440px) {
  #autoPayFutureButton{
    padding: 24px 15px !important;
    white-space: break-spaces !important;
    margin: 15px 0px;
  }
  #removeFuturePaymentButton{
    padding: 24px 15px !important;
    margin-top: 0px;
  }
  #autoPaySetupButton,#yesButton{
    margin-top: 10px;
  }
  #cancelButton{
    margin-bottom: 0px;
    margin-left: 0;
  }
}