#make-payment-schedule-button {
  font-family: "Muli", sans-serif !important;
  font-size: 15px !important;
  color: #171717;
  padding: 0px 25px;
}

#paymentBtnWrap {
  display: flex;
  margin-bottom: 10px;
}

#cancelPaymentBtn {
  margin-right: 20px;
  padding: 0 35px;
  font-family: "Muli", sans-serif !important;
  font-size: 15px !important;
}

#submitBtn {
  font-family: "Muli", sans-serif !important;
  font-size: 15px !important;
  padding: 0px 30px;
}

#select .subOption {
  color: #171717 !important;
}

@media (max-width: 599px) {
  #paymentBtnWrap {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #make-payment-cancel-button {
    margin: 0 !important;
  }

  #cancelPaymentBtn {
    margin-right: 0px;
    margin-top: 20px;
  }
}

.alert-dialog-title-auto-pay {
  width: 50% !important;
}

.showError {
  display: block;
  color: red;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.hideError {
  display: none;
}

#scheduleDialogBox .MuiDialog-paperWidthSm {
  border-radius: 2px !important;
}

#scheduleDialogHeading {
  padding: 35px 15px 18px 15px !important;
  justify-content: normal;
}

/* Autoplay Dialog box */

#autopayText {
  padding: 35px 15px 18px 15px !important;
}

/* Delete Payment Dialog box */
#deletePayment .makeStyles-dialogPaper-40 {
  border-radius: 2px !important;
}

#deleteDialogHeading {
  padding: 35px 15px 18px 15px !important;
  justify-content: normal;
}

@media (max-width: 768px) {
  #scheduleDialogBox .MuiDialog-paperWidthSm {
    width: 100% !important;
    max-width: 100% !important;
  }

  #scheduleCloseBtn {
    top: 0;
    right: 0;
  }

  #scheduleDialogHeading {
    padding: 35px 15px 18px 15px !important;
    justify-content: normal;
  }

  #dialogActionsBtn {
    margin-bottom: 25px;
  }

  #scheduleTxt {
    font-size: 25px !important;
  }

  /* Autoplay Dialog box */
  #autopayDialogBox .makeStyles-dialogPaper-40 {
    width: 100% !important;
    max-width: 100% !important;
  }

  #autopayCloseBtn {
    top: 0 !important;
    right: 0 !important;
  }

  #autoTxt {
    font-size: 25px !important;
  }

  #autopayDialogBox .makeStyles-dialogPaper-107 {
    width: 100% !important;
    max-width: 100% !important;
  }

  /* Delete Payment Dialog box */
  #deletePayment .makeStyles-dialogPaper-40 {
    width: 100% !important;
    max-width: 100% !important;
  }

  #deleteTxt {
    font-size: 25px !important;
  }

  #deleteClose {
    top: 0 !important;
    right: 0 !important;
  }

  .replacePaymentBox {
    flex-direction: column-reverse;
  }

  #replaceCurrentButton {
    margin: 15px 0px;
  }
}

#autopayDialogBox .makeStyles-dialogPaper-40 {
  border-radius: 2px !important;
  bottom: unset;
  left: unset;
}

#deletePayment .makeStyles-dialogPaper-40 {
  bottom: unset;
  left: unset;
}

#scheduleDialogBox .MuiDialog-paperWidthSm {
  bottom: unset;
  left: unset;
}

#paymentTableWrap {
  font-family: "Muli", sans-serif;
  font-size: 0.938rem !important;
}

#autoPaySpan .MuiSwitch-thumb {
  color: #fafafa !important;
}

#autoPaySpan :nth-child(2) {
  font-size: 0.875rem;
  color: #575757;
}

#payment-label {
  font-size: 0.938rem;
  color: #595959;
}

#date-label {
  font-size: 0.938rem;
  color: #595959;
}

#payment {
  padding-bottom: 15px;
}

#makePaymentWrap div:nth-child(2) .MuiPaper-rounded {
  border-radius: 10px !important;
}

#pdfdiv {
  border-radius: 2px !important;
}

#payFromWrap div div label {
  font-size: 0.938rem !important;
}

#select {
  padding-bottom: 15px;
}

@media only screen and (max-width: 960px) {
  .actionButtons {
    flex-direction: column-reverse !important;
    align-items: center;
  }

  #autoPayButton {
    margin-top: 15px;
    white-space: normal !important;
  }

  #cancelButton {
    margin-top: 15px !important;
  }
}