@media (max-width: 800px) {
    #make-payment-cancel-button-grid{
      padding: 0!important;
     
      padding-top: 10px!important;
      padding-bottom: 20px!important;
     
    }
  }

  @media (max-width: 600px) {
    #make-payment-schedule-button, #make-payment-cancel-button,#make-payment-submit-button {
      padding: 2%!important;
     
     height: 32px;
      width: auto;
    }
  }  


@media only screen and (max-width: 600px) and (min-width: 300px)  {
  #make-payment-schedule-button, #make-payment-cancel-button, #make-payment-submit-button {
    width: auto ;
  }
}


  @media (max-width: 800px) {
    #make-payment-schedule-button, #make-payment-cancel-button {
      padding:  2%!important;
     
      height: 32px;
      width: auto;
    }
  }  

  @media (max-width: 600px) {
  #make-payment-submit-button {
      padding: 2% !important;
     
      height: 32px;
      width: 100%!important;
    }
  } 

  .alert-dialog-title-auto-pay{
    width: 50%!important
  }


  .MuiButton-label{
    padding: 7px;
  }