.showError {
	display: block;
	color: red;
}

.hide {
	display: none;
}

.linkStyle {
	color: #0f4eb3 !important;
	cursor: pointer !important;
}

.underline {
	text-decoration: underline !important;
}

.MuiTabs-indicator {
	display: none !important;
}

#applyForLoanPhone .MuiFormControl-root .MuiTextField-root label {
	font-size: 0.938rem;
}

#applyForLoanPhone .MuiFormControl-root .MuiTextField-root div input {
	padding-bottom: 12px !important;
}

#textAndCall label .MuiFormControlLabel-label {
	font-size: 0.938rem !important;
}

/* Financial Information */
#employerNameInput-label {
	font-size: 0.938rem !important;
}

#employerNameInput {
	padding-bottom: 12px;
}

#currentJobTitleInput-label {
	font-size: 0.938rem !important;
}

#currentJobTitleInput {
	padding-bottom: 12px;
}

#currentAddressSelectWrap div .MuiInputLabel-formControl {
	font-size: 0.938rem !important;
	margin-left: -14px;
}

#currentAddressSelectWrap,
#heardUsSelectWrap {
	margin-top: 20px;
}

#currentAddressSelectWrap .MuiFormControl-fullWidth p {
	margin: 3px 0px 0px 0px;
}

#heardUsSelectWrap .MuiFormControl-fullWidth p {
	margin: 3px 0px 0px 0px;
}

#heardUsSelectWrap div .MuiInputLabel-formControl {
	font-size: 0.938rem !important;
	margin-left: -14px;
}

#heardUsSelect {
	padding-bottom: 12px;
}

#currentAddressSelect {
	padding-bottom: 12px;
}

#currentAddressSelect .subOption {
	color: #171717 !important;
}

#heardUsSelect .subOption {
	color: #171717 !important;
}

/* ID Verification Questions */
#IdQuestionsTxt {
	font-size: 0.938rem !important;
}

#radioSelectTxt label .MuiFormControlLabel-label {
	font-size: 0.938rem !important;
}

/* Bank Account Verification */

#accountHolderInput-label {
	font-size: 0.938rem !important;
}

#accountHolderInput {
	padding-bottom: 12px;
}

#accountTypeTxt {
	margin-top: 25px;
}

#accountTypeTxt .MuiFormControl-root label .MuiFormControlLabel-label {
	font-size: 0.938rem !important;
}

#bankRoutingNumberInput-label {
	font-size: 0.938rem !important;
}

#bankRoutingNumberInput {
	padding-bottom: 12px;
}

#bankInformationInput-label {
	font-size: 0.938rem !important;
}

#bankInformationInput {
	padding-bottom: 12px;
}

#bankAccountNumberInput-label {
	font-size: 0.938rem !important;
}

#bankAccountNumberInput {
	padding-bottom: 12px;
}

#confirmAccountNumberInput-label {
	font-size: 0.938rem !important;
}

#confirmAccountNumberInput {
	padding-bottom: 12px;
}

#paymentbyCheckTxt .MuiFormControlLabel-root .MuiFormControlLabel-label {
	font-size: 00.938rem !important;
}

.mobileFontSize {
	text-align: center;
}

.mobileFontParagraph {
	font-size: 1.125rem !important;
	font-weight: 400 !important;
	text-align: center !important;
	line-height: 26px !important;
}

#file{
	padding: 0px 15px;
}
.modalButton{
	padding: 10px 40px !important;
	text-transform: capitalize;
}
@media only screen and (max-width: 530px) {
	#file{
		margin-top: 15px;
	}
}
@media only screen and (max-width: 599px) {
	.confirmationButtons {
		margin: 0 !important;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
	}

	.returnButton {
		margin-top: 15px !important;
	}

	.confirmationDialog .MuiDialog-container .MuiDialog-paper {
		margin: 15px !important;
	}

	.noOffersAvailableImage {
		width: 100%;
	}

	.mobileFontSize {
		font-size: 1.625rem !important;
		text-align: center;
		font-weight: bolder;
		;
	}

	.mobileFontParagraph {
		font-size: 1rem !important;
	}
}