.showError {
	display: block;
	color: red;
}
.hide {
	display: none;
}
.linkStyle {
	color: #0f4eb3 !important;
	cursor: pointer !important;
}
.MuiStepLabel-labelContainer .MuiStepLabel-label {
	padding: 12px 0px 12px 10px !important;
	font-size: 0.938rem !important;
	color: #595959 !important;
}
.underline {
	text-decoration: underline !important;
}
.MuiTabs-indicator {
	display: none !important;
}
#applyForLoanPhone .MuiFormControl-root .MuiTextField-root label,#textAndCall label .MuiFormControlLabel-label,#employerNameInput-label,#currentJobTitleInput-label,#financialEmpPhoneWrap div .MuiInputLabel-formControl,#radioSelectTxt label .MuiFormControlLabel-label,#accountTypeTxt .MuiFormControl-root label .MuiFormControlLabel-label,#accountHolderInput-label,#bankRoutingNumberInput-label,#bankInformationInput-label,#bankAccountNumberInput-label,#confirmAccountNumberInput-label,#paymentbyCheckTxt .MuiFormControlLabel-root .MuiFormControlLabel-label{
	font-size: 0.938rem !important;
}
#applyForLoanPhone .MuiFormControl-root .MuiTextField-root div input,#employerNameInput,#currentJobTitleInput,#heardUsSelect,#currentAddressSelect,#accountHolderInput,#bankRoutingNumberInput,#bankInformationInput,#bankAccountNumberInput,#confirmAccountNumberInput{
	padding-bottom: 12px !important;
}
/* Financial Information */
#currentAddressSelectWrap div .MuiInputLabel-formControl,#heardUsSelectWrap div .MuiInputLabel-formControl {
	font-size: 0.938rem !important;
	margin-left: -14px;
}
#currentAddressSelectWrap,#financialEmpPhoneWrap,
#heardUsSelectWrap {
	margin-top: 20px;
}
#currentAddressSelectWrap .MuiFormControl-fullWidth p,#financialEmpPhoneWrap .MuiFormControl-fullWidth p,#heardUsSelectWrap .MuiFormControl-fullWidth p{
	margin: 3px 0px 0px 0px;
}
#currentAddressSelect .subOption,#heardUsSelect .subOption{
	color: #171717 !important;
}
/* ID Verification Questions */
#IdQuestionsTxt {
	font-size: 0.938rem !important;
	font-weight: bolder;
	font-weight: 700;
	color: #000000;
}
#LoanQuestionWrap, #radioSelectTxt{
  flex-direction: column;
}
/* Bank Account Verification */
#accountTypeTxt {
	margin-top: 25px;
}
.mobileFontSize {
	text-align: center;
}
.mobileFontParagraph {
	font-size: 1.125rem !important;
	font-weight: 400 !important;
	text-align: center !important;
	line-height: 26px !important;
}
#file{
	width: 100%;
	padding: 15px 0 0 0;
}
.modalButton{
	padding: 10px 40px !important;
	text-transform: capitalize;
}
@media only screen and (max-width: 530px) {
	#file{
		margin-top: 15px;
	}
}
@media only screen and (max-width: 599px) {
	.confirmationButtons {
		margin: 0 !important;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
	}
	.returnButton {
		margin-top: 15px !important;
	}
	.confirmationDialog .MuiDialog-container .MuiDialog-paper {
		margin: 15px !important;
	}
	.noOffersAvailableImage {
		width: 100%;
	}
	.mobileFontSize {
		font-size: 1.625rem !important;
		text-align: center;
		font-weight: bolder;
	}
	.mobileFontParagraph {
		font-size: 1rem !important;
	}
}
.showMsg {
	display: block;
	margin: 0;
	color: #f44336 !important;
	font-family: "Muli", sans-serif;
	font-weight: 400;
}
.hideMsg {
	display: none !important;
}