#questionGrid p {
	margin: 3px 0px 0px 0px !important;
}
#questionGrid label {
	margin: 3px 0px 0px -14px !important;
	font-size: 1rem;
}
.skip_button:hover {
  background: #214476;
  color: #ffffff;
}
#questionOne,
#questionTwo,
#questionThree,
#questionFour,
#questionFive{
	padding-bottom: 14px;
}
.boldText{
	color: #4d4d4d;
}
#questionDiv div p {
  font-weight: 700;
}
.mfa_loadingSpinnerDiv{
	width: 100%;
	display: flex;
	justify-content: center;
}
.mfa_loadingSpinner{
padding: 10%;
}
#continue_button{
	margin: auto;
}
.modalButton{
	width: 10%;
	padding: 10px 40px !important;
}