.twoStepWrap {
  min-height: 88vh;
}

#FormControlLabel .MuiRadio-colorPrimary {
  margin-top: -19px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}
#otpNumberOne,
#otpNumberTwo,
#otpNumberThree,
#otpNumberFour,
#otpNumberFive,
#otpNumberSix {
  text-align: center;
}

#questionsOne,
#questionsTwo,
#questionsThree,
#questionsFour,
#questionsFive {
  padding-bottom: 14px;
}

#questionsOne-label,
#questionsTwo-label,
#questionsThree-label,
#questionsFour-label,
#questionsFive-label {
  font-size: 0.938rem;
  color: #595959;
}
#LoanQuestionWrap, #radioSelectTxt{
  flex-direction: column;
}
.questionWrap div label{
  margin-left: -14px;
}
.answerGrid{
  align-items: flex-end;
}
.answerGrid .MuiTextField-root{
  margin-bottom: 3px !important;
}

@media (max-width: 400px) {

	#button_stepper_next,
	#button_stepper_prev,
	#button_stepper_reset {
		width: 100% !important;

		margin-top: 10px !important;
	}
}