.MuiSlider-markLabel
{
    font-weight: bold !important;
    font-size: 0.938rem !important;
}

#discrete-slider-always{
    font-size: 1.063rem !important;
}

#discrete-slider-always-amount{
    font-size: 1.438rem !important;
    color: #134ca7 !important;
    font-weight: 700 !important;

}