#workingHoursTableWrap thead tr th{
    border: 1px solid rgba(224, 224, 224, 1) !important;
}
#workingHoursTableWrap tbody tr th, #workingHoursTableWrap tbody tr td{
    border: 1px solid rgba(224, 224, 224, 1) !important;
}

#branchNameBox{
    border-radius: 2px !important;
}

#phoneLink{
    color: #0F4EB3 !important;
}
#branchMapWrap{
    height: 100% !important;
}
#branchMapWrap iframe{
    height: 100% !important;
}
#branchDiv{
    padding-right: 15px;
}
#branchMainDiv{
    padding-top: "10px";
     padding-bottom: "10px";
      margin-bottom: "45px";
}

#inputText{
    color: white !important;
    padding-left: 36px;
    padding-bottom: 15px;
    border-bottom-color: white !important;
}
#inputText-label{
    color: white !important;
    font-size: 0.938rem !important;
    padding-left: 45px;
}

#findBranchGrid{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px 0px 23px 0px;
}

#findBranchGrid .branchLocatorInput  .MuiInput-underline:before,
#findBranchGrid .branchLocatorInput  .MuiInput-underline:after{
 border-bottom: 1px solid white !important;
 border-bottom-color: white !important;
}
.searchIcon{
    color: white;
    position: absolute;
    top: 20px;
    font-size: 26px !important;
    left: 5px;
}
.goIcon{
    font-size: 20px !important;
}
.branchLocatorInput{
    width: 100% !important;
}
.findBranchWrap{
    padding: 0px 15px 0px 15px;
}

.locationInfo{
    margin-bottom: 4%;
}
.BlacktextColor{
    color: #171717;
    text-decoration: none;
}
#branchLists{
    background-color: white;
}

#mapGridWrap{
    min-height: 720px;
}
#timeSlotSelect .subOption{
    color: #171717 !important;
}
#ScheduleAppointmentSelect .subOption{
    color: #171717 !important;
}

@media (max-width:960px) {

    .findBranchWrap{
        padding-top: 40px;
    }
}

@media (max-width:599px) {
    #branchDiv{
        padding-right: 0px;
        margin-bottom: 30px;
    }
}

@media (max-width:760px) {
    #scheduleAppointmentBtn{
        padding: 0px 15px !important;
    }
}
